# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\smart car files\DC-Brush-Motor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
